@import "tailwindcss";

@theme {
  --color-primary: #7c3aed;
  --color-primary-dark: #6d28d9;
  --color-accent: #f472b6;
  --color-surface: #faf5ff;
  --color-danger: #ef4444;
  --color-success: #22c55e;
}
